.navbar-style{
  background-color: rgb(223, 199, 168);
}
.logo-img-style{
  height: 50px;
  width: 50px;
}
.logo-text-style{
 margin: -21px 0px 0px 50px;
}
*{
  font-family: 'Times New Roman', Times, serif;
}
main{
  min-height: 82vh;
}
footer{
  background-color: rgb(223, 199, 168);
  padding:10px;
  margin-top: 0.5rem;
}
marquee{
  margin-top: 1rem;
  font-size: 1.5rem;
}
.p-style{
  text-align: justify;
}
.Vision{
  margin-top: 1px;
   color:orange;
 }
 .Mission{
   margin-top: 1px;
   color:orange;
 }
 .Mandate{
   margin-top: 1px;
    color:orange;
  }
  tr,td{
    text-align: center;
  }
